{% extends 'base/base.html' %}
{% load static %}
{% block title %} Post List {% endblock %}

{% block content %}
    <div class="container m-5">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                    <a href="{% url 'post_detail' post.id %}"><h2>{{ post.title }}</h2></a>
                    <h3>{{ post.description|linebreaks|truncatewords:50 }}</h3>
                    <p>Posted by <a href="">{{ post.blog.user }}</a> {{ post.created|date:"d.m.Y H:i:s" }}</p>
                    {% if request.user not in post.users_read.all %}
                        <button class="btn btn-outline-primary"  onclick="postMarkAsRead(this, {{ post.id }})">Mark as read</button>
                    {% else %}
                        <button class="btn btn-outline-danger" disabled>Already read this post</button>
                    {% endif %}
                <hr>
                {% empty %}
                    <h3>You have no blog subscriptions.</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_scripts %}
    {{ block.super }}
    <script src="{% static 'js/usersRead.js' %}"></script>
{% endblock %}